
    <div>

    <%= f.label :"First Name" %>
    <%= f.text_field :firstname, class: "form-control" %>
    </div>

    <div>

    <%= f.label :"Last Name" %>
    <%= f.text_field :lastname, class: "form-control" %>
    </div>

    <%= f.label :"Middle Initial" %>
    <%= f.text_field :middleinitial, class: "form-control" %>

    <%= f.label :"Current Address" %>
    <%= f.text_field :address1, class: "form-control" %>

    <%= f.label :"Address contd" %>
    <%= f.text_field :address2, class: "form-control" %>

    <%= f.label :"City" %>
    <%= f.text_field :city, class: "form-control" %>

    <%= f.label :"State" %>
    <%= f.text_field :state, class: "form-control" %>

    <%= f.label :"Zip Code" %>
    <%= f.text_field :zip, class: "form-control" %>

    <%= f.label :"Primary Phone" %>
    <%= f.text_field :homephone, class: "form-control" %>

    <%= f.label :"Secondary Phone" %>
    <%= f.text_field :cellphone, class: "form-control" %>

    <%= f.label :"Instagram" %>
    <%= f.text_field :instagram, class: "form-control" %>

    <%= f.label :"Twitter" %>
    <%= f.text_field :twitter, class: "form-control" %>