<header class = "navbar navbar-fixed-top navbar-inverse">
	<div class = "container">		
		<%= link_to image_tag("our_first_tour.__pbskids___.jpg", alt: "GA @ PBS kids Logo", height:"70", width:"250"), "http://www.LouisHankins.com" %>
<!-- 		<%= link_to "The Reunion App", root_path, id: "logo" %> -->
			<nav>
				<ul class = "nav navbar-nav navbar-right">
					<li> <%= link_to "Home", root_path %> </li>
					<li> <%= link_to "Help", "#" %> </li>
					<li> <%= link_to "Users", "#" %> </li>
					<li> <%= link_to "Log In", new_user_session_path %> </li>
				</ul>
			</nav>
		</div>
</header>